.average-sessions-graph {
  position: relative;
  width: 30%;
  background: #ff0000;
  border-radius: 5px;
}

.sessions-title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  width: 150px;
  line-height: 1.2;
}

.sessions-tooltip {
  background: white;
  color: black;
  padding: 5px 8px;
  font-size: 10px;
}
