.user-score {
  position: relative;
  background: #fbfbfb;
  border-radius: 5px;
  width: 30%;
}

.user-score h3 {
  padding: 20px 20px 0 20px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 500;
}

.score-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.score-text strong {
  font-size: 26px;
  font-weight: 700;
  color: #282d30;
}

.score-text span {
  display: block;
  color: #74798c;
  font-size: 14px;
  line-height: 1.4;
}
